.avatar-img {
  height: 10%;
  width: 10%;
}

.profile-card {
  display: flex;
}

.user-details {
  margin-left: 1.5em;
}
.detail {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
}

@media screen and (max-width: 992px) {
  .avatar-img {
    height: 30%;
    width: 30%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .avatar-img {
    height: 30%;
    width: 30%;
  }
}
