<ng-container *ngIf="spinnerMode$ | async">
  <div class="loader loadWrapper" >
    <img class="loader" src="../assets/loader.gif" alt="loader" >
  </div>
</ng-container>
<div class="wrapper fixed-top">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
        <div>
          <mat-list-item [routerLink]="['/home']" (click)="sidenav.toggle()" routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>home</mat-icon>Home
          </mat-list-item>

          <mat-list-item [routerLink]="['/about']" (click)="sidenav.toggle()" routerLinkActive="link-active">
            <mat-icon>info</mat-icon> About
          </mat-list-item>

          <div *ngIf="(userService.currentUser$ | async) as user">
            <mat-list-item *ngIf="(userService.isLoggedIn$ | async)" [routerLink]="['/profile/', user.shortid]"
              (click)="sidenav.toggle()" routerLinkActive="link-active">
              <mat-icon>account_circle</mat-icon> Profile
            </mat-list-item>

          </div>
          <mat-list-item *ngIf="(userService.isLoggedIn$ | async)" (click)="logout(sidenav);" [routerLink]="['/home']">
            <mat-icon>person</mat-icon> Logout
          </mat-list-item>

          <mat-list-item *ngIf="!(userService.isLoggedIn$ | async)" [routerLink]="['/auth/login']"
            (click)="sidenav.toggle()" routerLinkActive="link-active">
            <mat-icon>person</mat-icon> Login/Register
          </mat-list-item>


        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>