<mat-card class="profile-card">
    <img mat-card-avatar src="assets/rick.jpeg" class="avatar-img">
    <mat-card-content>
        <div class="user-details">
            <div>
                <h1 id="username">{{profile.username | titlecase}}</h1>
            </div>
            <div class="detail">
                <label for="registrationDate">With us from:</label>
                <span id="registrationDate">{{profile.registrationDate | date }}</span>
            </div>
            <div class="detail">
                <label for="lastLoginDate">Last time seen:</label>
                <span id="lastLoginDate">{{profile.lastLogin | date}}</span>
            </div>

        </div>
    </mat-card-content>
</mat-card>